---
- name: Install teamspeak server
  when: teamspeak_server
  become: false
  block:
    - name: Install deb dependencies
      ansible.builtin.package:
        name: fuse
        state: present

  ¦ - name: Create tmp directory
  ¦ ¦ ansible.builtin.file:
  ¦ ¦ ¦ path: "/tmp/teamspeak_server"
  ¦ ¦ ¦ state: directory

  ¦ - name: Download & unarchive Teamspeak server
  ¦ ¦ ansible.builtin.unarchive:
        deb: "{{ teamspeak_repository }}/server/{{ teamspeak_version }}/teamspeak3-server_linux_{{ teamspeak_arch }}-{{ teamspeak_version }}.tar.bz2"
  ¦ ¦ ¦ dest: "/tmp/teamspeak_server"
  ¦ ¦ ¦ remote_src: true

  ¦ - name: Copy files
  ¦ ¦ ansible.builtin.copy:
  ¦ ¦ ¦ src: "/tmp/teamspeak_server"
  ¦ ¦ ¦ dest: "{{ teamspeak_dir }}_server"
  ¦ ¦ ¦ mode: "0755"

  ¦ - name: Delete tmp file
  ¦ ¦ ansible.builtin.file:
  ¦ ¦ ¦ path: "/tmp/teamspeak_server"
  ¦ ¦ ¦ state: absent
