---
- name: Add service for teamspeak server
  when: teamspeak_server
  become: true
  block:
    - name: Create a TeamSpeak Server service unit
      become: true
      ansible.builtin.template:
        src: teamspeak.service.j2
        dest: /etc/systemd/system/teamspeak.service
        mode: '0644'
      notify: "restart teamspeak services"

    - name: Make sure the TeamSpeak Server systemd service are started and enabled
      ansible.builtin.systemd_service:
        name: teamspeak.service
        state: started
        enabled: true
        daemon_reload: true
