# Managed by Ansible role: geesefs

[Unit]
Description=Mount '%i' S3 bucket via GeeseFS
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Documentation=https://github.com/yandex-cloud/geesefs
Requires=network-online.target
BindsTo=geesefs.target
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
Type=forking
GuessMainPID=true

Restart=on-failure
RestartSec=2

LimitNOFILE={{ geesefs_files_limit }}
MemoryAccounting=true
MemoryHigh={{ geesefs_memory_limit * 2 }}M
MemoryMax={{ geesefs_memory_limit * 3 }}M

EnvironmentFile=-{{ geesefs_credentials_file }}
ExecStartPre=/usr/local/bin/dismount.py --service 'nginx.service' --mountpoint '{{ geesefs_mount_dir }}/%i'{{ ' --loglevel debug' if geesefs_debug }}
ExecStart={{ geesefs_binary }}{{ ' --debug --debug_s3 --debug_fuse ' if geesefs_debug }}{{ ' --iam' if geesefs_keyless }} --endpoint '{{ geesefs_endpoint }}'{% if geesefs_region != "" %} --region {{ geesefs_region }}{% endif %} --storage-class {{ geesefs_storage_class }} --uid {{ geesefs_uid }} --gid {{ geesefs_gid }} --no-checksum --memory-limit {{ geesefs_memory_limit }} --read-ahead-large {{ geesefs_read_ahead_large }} --max-flushers {{ geesefs_max_flushers }} --max-parallel-parts {{ geesefs_parallel_parts }} --part-sizes '{{ geesefs_part_size }}' --single-part {{ geesefs_single_part }}{% if geesefs_enable_patch %} --enable-patch{% endif %} --cache '{{ geesefs_cache_dir}}/%i' -o allow_other --cheap --no-specials '%i' '{{ geesefs_mount_dir }}/%i'

[Install]
WantedBy=geesefs.target
