# Managed by Ansible role: timers

[Unit]
Description={{ item.value.description }}

[Timer]
OnCalendar={{ item.value.on_calendar }}
RandomizedDelaySec={{ item.value.randomized_delay_sec }}
FixedRandomDelay=true

[Install]
WantedBy=timers.target
